.about-container {
  padding-top: 100px;
  margin: auto;
  width: 70vw;
} 

.about,
.contact {
  margin: 10px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 36px;
}

.contact {
  padding-bottom: 50px;
  border-bottom: 2px solid #000000;
  width: 100%;
}

.skills {
  margin: 50px 0 30px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.skill-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50px 50px 50px 50px;
  margin: auto;
  height: 400px;
  width: 75vw;
}

.skill-item {
  grid-column-end: span 1;
  grid-row-end: span 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}