.about-container {
  padding-top: 100px;
  margin: auto;
  width: 70%;
} 

.about,
.contact {
  margin: 10px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 36px;
}